html{
    background: #FCFDF9;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'PT Serif', serif;
}
body {
    margin: 4px 16px 4px 16px;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px;
}
h1, h2, h3{
    font-size: ;
    text-align:center;
    color: #2d3841;
}
h4{
    color: #2d3841;
    margin: 2px auto;
}

th,td {
    padding: 0px 8px 8px 2px;
    font-size: medium;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
a {
    color: black;
}

.menu {
    font-size: large;
    
}

.profile-picture {
    border-radius: 50%;
    float:right;
    width:250px;
    margin: 0.5em 1em 0.5em 1em;
}
.awards{
    margin: 2px auto;
}

.research-picture{
    width:300px;
}
.teaching-picture{
    width:100%;
    display:block;
    margin:auto;
}

.bio-container {
    display: flex;
    flex-wrap: wrap;
}
.menu{
    text-align:right;
}
.footer{
    text-align:center
}