html{
    background: #FCFDF9;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'PT Serif', serif;
}
body {
    margin: 4px 16px 4px 16px;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px;
}

h1, h2, h3{
    text-align:center;
    color: #2d3841;
}
h4{
    color: #2d3841;
    margin: 2px auto;
}

th,td {
    padding: 0px 8px 8px 2px;
    font-size: medium;
}
a {
    color: black;
}

.project{
    overflow: hidden;
}

.menu {
    font-size: large;
    text-align:right;
}
.footer{
    text-align:center
}


.awards{
    margin: 2px auto;
}

.profile-picture {
    border-radius: 50%;
    float:right;
    width:250px;
    margin: 0.5em 1em 0.5em 1em;
}

.research-picture{
    width:320px;
    float:left;
    margin: 1em 2em 1em 2em;
}

.teaching-picture{
    float:none;
    width:95%;
    display:block;
    margin:auto;
}

@media all and (max-width:640px) {
    .profile-picture{
        float:none;
        display:block;
        margin:0 auto;
        width:250px;
    }
    .research-picture{
        float:none;
        display:block;
        margin: 0 auto;
        width:80%;
    }
}

